<h1>Bloggo's blog of wonders</h1>

<ul>
    <% @blogs.each do |blog| %>
        <li><%= link_to blog.title, blog_path(blog) %></li>
    <% end %>
</ul>
<br />
<h3>Click <%= link_to 'Here', new_blog_path %> to Create a New Blog </h3>